.input:focus:not([readonly])+label {
    color: red !important;
}

.input:focus:not([readonly]) {
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red !important;
}

.change {
    background-color: #212121 !important
}