.input:focus:not([readonly])+label {
    color: #263238 !important;
  }
  
  .input:focus:not([readonly]) {
    border-bottom: 1px solid #263238 !important;
    box-shadow: 0 1px 0 0 #263238 !important;
  }
  
  .change {
    background-color: #263238 !important
  }